<!DOCTYPE html>
  <html>
  <head>
    <title> Devlin Equity Prtfolio </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <h1> HOME </h1>

  </head>


<ul>
  <li> <a href="/dis" >Disney</a> </li>
  <li> <a href="/nvda" >Nvidia</a> </li>
  <li> <a href="/kopn" >Kopin<a/> </li>
  <li> <a href="/calm" >Cal-Maine<a/> </li>
  <li> <a href="/cor" >Coresite Realty<a/> </li>
  <li> <a href="/grub" >GrubHub<a/> </li>
  <li> <a href="/kbr" >KBR Inc<a/> </li>
  <li> <a href="/pcar" >PACCAR<a/> </li>
  <li> <a href="/shop" >Shopify<a/> </li>
  <li> <a href="/swir" >Sierra Wireless<a/> </li>
  <li> <a href="/ttwo" >Take-Two Interactive <a/> </li>
  <li> <a href="/xyl" >Xylem<a/> </li>
</ul>


<ul>
  <h2> WATCH LIST </h2>
  <li> <a href="/chrw" > CH Robinson Worldwide<a/> </li>
  <li> <a href="/DDD" > 3D Systems Corp<a/> </li>

</ul>
